/target
scripts/__pycache__/convert_text_to_png.cpython-313.pyc
assets/demos/frames_tendrils
assets/demos/frames_organic
assets/demos/frames_ocean
assets/demos/frames_network
assets/demos/frames_heat
assets/demos/frames_exploratory
assets/demos/frames_ascii
src/.DS_Store
.DS_Store
frames
bak
node_modules
